.main{
    display: flex;
    flex-direction: column;
    align-items:center
}

.keyboard-input{
    width: 50%;
    max-width: 550px;
}

.keyboard{
    position: fixed;
    left: 0;
    bottom: 0%;
    width: 100%;
    padding: 5px 0;
    background: #004134;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.5);
    user-select: none;
    transition: bottom 0.4s;
}

.keyboard--close{
 bottom:-100%;   
}

.keyboard__keys{
    text-align: center;
}

.keyboard__key{
    position: relative;
    width: 6%;
    max-width: 90px;
    height: 45px;
    margin:3px;
    border-radius:4px;
    border:none;
    background: rgba(255, 255, 255, 0.2);
    color:#fff;
    font-size: 1.05rem;
    vertical-align: middle;
    cursor: pointer;
}

.keyboard__key:active {
   background: rgba(255, 255, 255, 0.1);
}

.keyboard__key:focus {
    outline: none;
}

.keyboard__key--wide{
    width: 12%;
    max-width: 100px;
    font-size: 1.05rem;
}
.keyboard__key-switch:after{
    content: "";
    position: absolute;
    right:14%;
    width: 8px;
    height: 8px;
    border-radius:50%;
    background-color: rgba(0, 0, 0, 0.4);
}

.keyboard__key-switch--active:after{
    background-color: #08ff00;
}
.keyboard__key--extra-wide{
    width: 50%;
    max-width: 500px;
}

.keyboard__key--small{
    width: 3%;
    min-width: 34px;
}
@media (max-width:375px){
.keyboard__key{
    padding:0px;
    }
.keyboard__key .material-icons{
    font-size: 17px;
    display: flex;
    justify-content: center;
}

.keyboard__key--wide{
    width:7%;
    max-width: 100px;
}

.keyboard__key--small{
    width: 3%;
    min-width: 25px;
}
}